@mixin FlexWrap($direction, $justify, $align) {
  display: flex;
  flex-flow: $direction wrap;
  justify-content: $justify;
  align-items: $align;
}
@mixin FlexNoWrap($direction, $justify, $align) {
  display: flex;
  flex-flow: $direction nowrap;
  justify-content: $justify;
  align-items: $align;
}
@mixin ShadowBoxA {
  border: 1px solid #ececec;
  background-color: #ffffff;
  box-shadow: 0 20px 25px #959697;
  padding: 32px 24px;
}
