/* Colors variable */
$PrimaryBlue: #ccf3ff;
$SecondaryBlue: #00a2d4;
$PrimaryBlack: #4e5152;
$SecondaryBlack: #151717;

/* Font size variable */
$XlFontsize: 36px;
$LFontsize: 28px;
$SFontsize: 20px;
$SSFontsize: 18px;
