:root {
  /* Colors variable */
  --PrimaryBlue: #ccf3ff;
  --SecondaryBlue: #00a2d4;
  --PrimaryBlack: #4e5152;
  --SecondaryBlack: #151717;
  --BorderGrey: #ececec;
  --ShadowGrey: #959697;
  --TextGrey: #fafafa;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
p {
  margin: 0;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  border-radius: 16px !important;
  width: 100% !important;
  max-width: 962px !important;
}
